<%- include('header') -%>
   <!DOCTYPE html>
   <html lang="en">

   <head>
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <title>Text Area - <%- textInfo.id -%>
      </title>
   </head>

   <body>

      <ul id="navbar">
         <li class="navbarli"><a href="/">New</a></li>
         <li class="navbarli"><a href="/edit/<%- textInfo.id -%>">Edit</a></li>
      </ul>


      <div align="center">
         <% if (alert) { %>
            <% if (alertType==="error" ) { %>
               <div class="alertError">
                  <span class="closebtn" onclick="location.href='/'">&times;</span>
                  <%- alert %>
               </div>
               <% } %>
                  <% if (alertType==="success" ) { %>
                     <div class="alertSuccess">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%- alert %>
                     </div>
                     <% } %>
                        <% } %>
                           <div class="main">
                              <h1 style="color:white;">Text Area - <%- textInfo.id -%>
                              </h1>

                              <div class="infoBox">
                                 <p>Added Date:
                                    <%- textInfo.addedDate -%>
                                 </p>
                                 <p>Views: <%- textInfo.views -%>
                                 </p>

                              </div>
                              <hr>
                              <textarea id="textarea" style="color:rgb(253, 253, 253);" disabled="disabled"
                                 rows="22" cols="70"><%- textInfo.text -%></textarea>

                           </div>
      </div>
   </body>

   </html>