<%- include('header') -%>
<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <title>ADDText - <%- textInfo.id -%></title>
   </head>
   <body>
      <div align="center">
         <% if (alert) { %>
         <% if (alertType === "error") { %>
         <div class="alertError">
            <span class="closebtn" onclick="location.href='/'">&times;</span>
            <%- alert %>
         </div>
         <% } %>
         <% if (alertType === "success") { %>
         <div class="alertSuccess">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%- alert %>
         </div>
         <% } %>
         <% } %>
         <div class="main">
            <h1>Text - <%- textInfo.id -%></h1>
            <textarea id="textarea" style="color:black;" disabled="disabled" rows="10"><%- textInfo.text -%></textarea>
         </div>
      </div>
   </body>
</html>